.home-container {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #191919;
}
.home-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-image {
  width: 54px;
  height: 54px;
  box-shadow: 5px 5px 10px 0 #353434;
  object-fit: cover;
  border-color: var(--dl-color-gray-900);
  border-width: 0;
  border-radius: var(--dl-radius-radius-radius6);
  text-decoration: none;
}
.home-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-text {
  color: #fff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-text:hover {
  color: #0498f7;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.home-text01 {
  color: #fff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-text01:hover {
  color: #0498f7;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.home-link01 {
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}
.home-link01:hover {
  color: #0498f7;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.home-link02 {
  color: #fff;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link02:hover {
  color: #0498f7;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.home-container01 {
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.home-mobile-menu {
  top: 0;
  flex: 0 0 auto;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.home-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image1 {
  width: 100px;
  object-fit: cover;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon3 {
  width: 24px;
  height: 24px;
}
.home-mid {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text02 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.home-text03 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text03:hover {
  color: var(--dl-color-turquoise-default);
}
.home-text04 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.home-text05 {
  transition: 0.3s;
}
.home-text05:hover {
  color: var(--dl-color-turquoise-default);
}
.home-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-turquoise-cirble {
  top: 515px;
  right: 688px;
  width: 170px;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.home-purple-circle {
  top: -162px;
  right: -74px;
  width: 400px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.home-left {
  top: 653px;
  left: 0;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.home-right {
  top: 441px;
  left: auto;
  right: 0;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text06 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text07 {
  color: #fff;
}
.home-text09 {
  color: #fff;
}
.home-text11 {
  color: #fff;
}
.home-text12 {
  color: #0498f7;
}
.home-link03 {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-image2 {
  width: 399px;
  height: 513px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: flex-start;
  padding-top: 63px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text13 {
  color: #fff;
}
.home-text15 {
  color: #0498f7;
}
.home-text16 {
  max-width: 500px;
  align-self: flex-start;
  text-align: left;
  font-family: Arial;
}
.home-text17 {
  color: #fff;
  white-space: pre-wrap;
}
.home-text18 {
  color: #fff;
}
.home-features1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container03 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-features2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text19 {
  color: #fff;
}
.home-text21 {
  color: #f10404;
}
.home-text22 {
  color: #fff;
  max-width: 500px;
  align-self: flex-end;
  text-align: right;
  font-family: Arial;
}
.home-text23 {
  font-family: Arial;
}
.home-text24 {
  max-width: 500px;
  text-align: center;
}
.home-text25 {
  white-space: pre-wrap;
}
.home-container04 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-c-t-a {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f10404;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0498f7;
}
.home-container06 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text27 {
  white-space: pre-wrap;
}
.home-text28 {
  color: #fff;
}
.home-text29 {
  max-width: 500px;
}
.home-link04 {
  color: #fff;
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #f10404;
}
.home-text32 {
  white-space: pre-wrap;
}
.home-container07 {
  width: 520px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image3 {
  top: -175px;
  left: 200px;
  width: 306px;
  height: 350px;
  position: absolute;
  box-shadow: 3px 3px 10px 0 #232323;
  object-fit: cover;
  border-color: var(--dl-color-gray-900);
  border-width: 0;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #191919;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 341px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image4 {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text35 {
  color: #5865f2;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container12 {
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.home-link05 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05:hover {
  color: #f10405;
}
.home-link06 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06:hover {
  color: #f10405;
}
.home-link07 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07:hover {
  color: #f10405;
}
.home-link08 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link08:hover {
  color: #f10405;
}
.home-link09 {
  transition: 0.3s;
  white-space: nowrap;
  text-decoration: none;
}
.home-link09:hover {
  color: #f10405;
}
.home-text36 {
  color: var(--dl-color-gray-300);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
.home-divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--dl-color-gray-white);
}
